
	body {background-color: #fefbd8;}
	.antras {font-weight: bold;
	font-family: "Arial"
	}
	.pirmas {font-family: Lucida Console;
	color: white;
	background-color: green;}
	#autorius {font-family: Verdana;
	color: gray;
	font-style: italic;}
